body {
    background: #C5A4A1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 90vw;
    height: 90vh;
    margin-top: 2.5%;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cadastro {
    margin-left: 58%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: -6%; 
}   

.imagem {
    margin-top: 4%;
    margin-left: 4%;
    height: 20%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}